  <!-- Group  Information -->
    <br><br>
  


    <h1 class="text-center fs-1"><b>Group</b></h1>
    <div class="d-flex flex-row gap-4 mt-5 flex-wrap justify-content-center">
        <img  src="https://virtual.edu.az/storage/announcment/yLXw6g0eand8SqE2FIHarIT2zWReUHlL9iqG8vZu.png" class="img-thumbnail w-25 h-25" alt="...">
        <img  src="https://virtual.edu.az/storage/announcment/oOk4i55dY2mJIdaIH6z4nIiqRRc1fQEmsOklgxio.png" class="img-thumbnail w-25 h-25" alt="...">

        <img  src="https://files.modern.az/articles/2021/04/02/435737.jpg" class="img-thumbnail w-25 h-25" alt="...">

        <img  src="https://edu.gov.az/uploads/gallery/2019/12/1576060630/05s15.09.20-01.jpg" class="img-thumbnail w-25 h-25" alt="...">
        <img  src="https://virtual.edu.az/storage/announcment/yLXw6g0eand8SqE2FIHarIT2zWReUHlL9iqG8vZu.png" class="img-thumbnail w-25 h-25" alt="...">
        <img  src="https://virtual.edu.az/storage/announcment/yLXw6g0eand8SqE2FIHarIT2zWReUHlL9iqG8vZu.png" class="img-thumbnail w-25 h-25" alt="...">

        <img  src="https://virtual.edu.az/storage/announcment/yLXw6g0eand8SqE2FIHarIT2zWReUHlL9iqG8vZu.png" class="img-thumbnail w-25 h-25" alt="...">

        <img  src="https://virtual.edu.az/storage/announcment/yLXw6g0eand8SqE2FIHarIT2zWReUHlL9iqG8vZu.png" class="img-thumbnail w-25 h-25" alt="...">

    </div>

