 <!-- Teacher  Information -->
  <br> <br> <br> <br> <br> <br>
   <div class="w-100 container">
        <div class="d-flex  justify-content-between mt-80 ">
      <div>

                <img src="https://virtual.edu.az/images/muellim_banner.svg" alt="">
            </div>

            <div>
                <h1><b>Muellimler ucun <br> qeydiyyat </b></h1>

                <div class="w-100 ">
                    <p class="text-cl"><b>Şagirdin fərdi identifikasiya nömrəsi (FİN) / UTIS ID <span class="text-danger">*</span></b> </p>
                    <input placeholder="Fin/UTISID" class="input-student" type="text"> <br>
                    <p class="text-cl"><b>Şagirdin Dogum Tarixi <span class="text-danger">*</span></b></p>
                    <input placeholder="Dogum Tarixi" class="input-student" type="text">
                    <div class="d-flex justify-content-between pt-2">
                        <p><b>SIfreni Berpa Et</b></p>
                        <button  class="btn-student ">Davam Et</button>

                    </div>
                </div>
            </div>
            </div>


        </div>